body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-bottom: 5px;
	background: #7d7c7c;
}

#header
{
	width: 96%;
	margin: 0;
	padding: 12px 20px 12px 20px;
	font-size: 150%;
	color: #efefef;
	height: 30px;
	background: url(../images/bckHeader.jpg) repeat-x;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:none;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	background: #dedede;
	color: #333;
	border: 1px solid #666;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 15px 0!important;
}

.portlet-content h1
{
	max-width: 40px;
	font-size: 110%;
	font-weight: bold;
	margin: 10px 0 5px 2px;
	color: white;
	background-color: #7D7C7C;
	text-align: center;
	padding: 0 5px;
	z-index: 2;
}

.portlet-content p
{
	font-size: 90%;
	text-align: left;
	margin: 0;
	color: #cdcdcd;
	border: 1px solid #ababab;
	padding: 5px 8px 5px 8px;
	z-index: 1;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 11pt Arial;
	color: #666!important;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
	text-align: center
}

.operations li a:visited
{
	color: #0066A4;
}

.contentbox
{
	background: #d3d3d3!important;
	position: relative;
}

.contentbox .title 
{
	width: 100%;
	background: url(../images/bckTitle.jpg) repeat-x;
	margin-bottom: 20px;
}

.contentbox .titleV 
{
	width: 100%;
	background: url(../images/bckTitleV.jpg) repeat-x;
	margin-bottom: 20px;
}

.contentbox .title h1, .contentbox .titleV h1
{
	width: 100%;
	font-size: 140%;
	padding: 8px 0 9px 0;
	color: white;
	text-align: center;
}



#login
{
	width: 300px;
	margin: 40px auto;
	text-align: center;
}

#mainmenu
{
	width: 350px;
	margin: 20px auto;
	text-align: center;
}

#mainmenu .button
{
	width: 140px;
	height: 60px;
	font-size: 120%;
	padding: 0;
	background: #4185c2;
	border: 2px solid #152d41;
	margin: 15px !important;
	cursor: pointer;
	position: relative;
	float: left;
	
	behavior: url(PIE.php);
}

#mainmenu .buttonA
{
	width: 140px;
	height: 60px;
	font-size: 120%;
	padding: 0;
	background: #31bc90;
	border: 2px solid #152d41;
	margin: 15px !important;
	cursor: pointer;
	position: relative;
	float: left;
	
	behavior: url(PIE.php);
}

#mainmenu p
{
	color: white;
	font-size: 100%;
	line-height: 60px;
	
	behavior: url(PIE.php);
}

#mainmenu a { color: white; text-decoration: none; font-weight: bold; }



/*
 * Grid view CSS Styles
 */
 
.grid-view table.items 
{
    background: #dedede!important;
    border: none!important;
}

.grid-view table.items th, .grid-view table.items td 
{
    border: none !important;
    margin: 10px!important;
}

.grid-view .empty 
{
	font-size: 140%!important;
    font-style: normal!important;
    color: white!important;
    text-align: center!important;
    padding: 20px 0 !important;
}

.grid-view table.items tr.even, tr.odd, tr.filters 
{
    border-left: 10px solid #dedede!important;
    border-right: 10px solid #dedede!important;
}

.grid-view table.items tr.odd td 
{
    background: #7D7C7C!important;
    margin: 10px!important;
    border-top:10px solid #dedede!important;
    border-bottom: 10px solid #dedede!important;
    padding: 15px 10px!important;
    font-size: 120%;
    color: white;
}

.grid-view table.items tr.even td 
{
    background: #7D7C7C !important;
    border-top: 10px solid #dedede!important;
    border-bottom: 10px solid #dedede!important;
    padding: 15px 10px!important;
    font-size: 120%;
    color: white;
}

.grid-view table.items tr.filters td 
{
    padding: 15px 0 5px 0!important;
}

.grid-view table.items tr.filters td input
{
    font-size: 110%!important;
    padding: 5px!important;
}

.grid-view .summary 
{
    margin: 0 0 5px 0!important;
    text-align: left!important;
    color: white!important;
}

.grid-view .button-column 
{
	width: 155px!important;
}

.grid-view .button-column a.update, a.delete
{
	font-size: 110%;
	display: inline!important;
	color: white;
	text-decoration: none;
	background: #4185c2;
	border: 1px solid #333;
	padding: 10px 8px;
	margin: 0 4px;
}


/*
 * CJUIDatepicker CSS Styles
 */

.ui-datepicker {
    width: 19em!important;
}